.git
.gitignore
.dockerignore

.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd

htmlcov
.coverage

flight-client-app/node_modules
flight-client-app/dist
flight-client-app/.env

ticket_management_system/.env

node_modules
dist
